<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>ToDo: Auftrag</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu.html">
        Menu couldn't load!
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${todo.title}">Title couldn't load!</h3>
        </div>
        <span class="panel-body">
            <b>Id:</b> <small th:text="${todo.id}"></small>
                <p th:switch="${todo.status}">
                    <b>Status:</b>
                    <small th:case="0">Neu <span class="glyphicon glyphicon-asterisk"></span></small>
                    <small th:case="1">In Bearbeitung <span class="glyphicon glyphicon-dashboard"></span></small>
                    <small th:case="2">Erledigt <span class="glyphicon glyphicon-ok"></span></small>
                    <small th:case="3">Problem ist aufgetreten <span class="glyphicon glyphicon-alert"></span></small>
                </p>
            <hr>
            <b>Inhalt:</b> <small th:text="${todo.inhalt}"></small>
        </span>
    </div>
</div>
</body>
</html>